$primary-color: #233C5A ; 
$secondary-color:black;
$nav-color:#0000005c;
$form-bgcolor:#000000a6;

$primary-color-hover: #192b42; 
$secondary-color-hover:#103641;
$tertiary-color:  #78B7D0;
$tertiary-color-hover:#0056b3;
$primary-bg-color:#d4d5d6;

$primary-font-color:#ffff