$primary-color:  #0e1124 ; 
$secondary-color:black;
$nav-color:#00000064;
$form-bgcolor:#000000a6;

$primary-color-hover: #7272729d; 
$secondary-color-hover:#103641;
$tertiary-color:  #78B7D0;
$tertiary-color-hover:#0056b3;

$primary-bg-color:#d3dde4;

$primary-font-color:#f0f0f0