@use '../../colors/colors.scss' as colors;
.book-container {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  padding-top: 85px;
  padding-left: 80px;
  padding-right: 80px;
  background: url("../../assets/images/blue_abstract.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  .selector-section {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
  }

  .booking-container {
    width: 45%;
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
    background-color: #ffffff46;
    border-radius: 10px;
    border: solid 2px #e0e0e0;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    .booking-container-left {
      margin: 10px;
      .booking-img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 50%;
        overflow: hidden;
      }
    }

    .booking-container-right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 3rem;

      .booking-name {
        font-size: 1.7rem;
        margin: 25px 0;
      }
      // .coach-name {
      //   font-size: 2rem;
      // }

      .booking-specialize {
        color: #000000;
        font-weight: 500;
        font-size: 1.2rem;
        margin-bottom: 6px;
      }
    }
  }

  .slot-selection {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    background-color: rgb(228, 231, 233);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.288);

    .availability-info {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      p {
        font-size: 16px;
        font-weight: bold;
        margin-top: 1rem;
        color: colors.$font-color-gray;
      }

      label {
        font-size: 1.25rem;
        font-weight: bold;
      }
    }

    p: {
      font-size: 1rem;
    }

    .selected-slots {
      display: flex;
      .availability-info {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        p {
          font-size: 1.1rem;
          font-weight: bold;
          margin-top: 1rem;
          color: colors.$font-color-gray;
        }

        label {
          font-size: 1.25rem;
          font-weight: bold;
        }
      }
      width: 100%;
      flex-wrap: wrap;
      gap: 0.5rem;
      background-color: #fff;
      border-radius: 5px;
      padding: 0.5rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;

      .slot-label {
        margin: 5px;
        margin-top: 15px;
        font-weight: 400;
        color: #4b5563;
      }

      .slot-chips {
        // margin: 10px;
        // margin-top: 10px;
        gap: 5px;

        .slot-item {
          margin: 8px;
          display: flex;
          align-items: center;
          background-color:colors.$secondary-color;
          border-radius: 20px;
          padding: 0.5rem 1rem;
          color: #ffff;
          font-weight: 500;
          width: fit-content;
          div {
            cursor: pointer;
            margin-left: 0.5rem;
          }
        }
      }

      .clear-all {
        background-color: colors.$primary-bg-color;
        color: colors.$font-color-gray;
        cursor: pointer;
        font-weight: 400;
        border-radius: 10px;
        padding: 3px;
        width: fit-content;
      }
    }

    .slot-menu {
      background-color: #fff;
      border-radius: 5px;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      max-height: 8rem;
      overflow-y: auto;
      margin-top: 1.1rem;
      width: 60%;
  

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      li {
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 8px;
        &:hover {
          background-color: colors.$primary-bg-color;
        }
      }
    }
    .checkout-button {
      justify-content: space-between;

      button {
        background-color: colors.$secondary-color;
        color: white;
        border: none;
        border-radius: 7px;
        padding: 10px 10px;
        font-size: 0.9rem;
        font-weight: 400;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        transition: background-color 0.3s;
        margin-left: 10px;
        margin-right: 20px;
        margin-top: 30px;
        &:hover {
          background-color: colors.$secondary-color-hover;
        }
      }
    }
  }
}
